@media (min-width: 320px) and (max-width: 768px) { 
#opening {
  width: 300%;
}
#okno{
  height: 300%;
}
#one {
  width: 1200px;
  margin-left: -1%;
}
#two {
  width: 1200px;
}
#three {
  width: 1200px;
}
#four {
  width: 1200px;
}
#carouselExampleCaptions{
  width: 100%;
}
.gorod{
  font-size: 10px;
}
.list-group{
  margin-top: 40%;
}
p{
  font-size: 10px;
}
.card{
  margin-left: 2%;
  margin-top: 2%;
}
.cards-group{
  margin-left: 5%;
}
#crd{
  margin-left: 7%;
}
.send{
  margin-top: 100%;
}
#send_one, #send_two, #send_three, #send_four{
  margin-top: 15%;
}
#send_five, #send_six{
  margin-top: 5%;
}
}
.cards-group{
  margin-left: 1%;
}

#one, #two, #three, #four{
  width: 24rem;
  margin-top: 2%;
}
.btn-primary{
  margin-top:12%;
}
.col-sm-6{
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-block: -10%;
}
.col-sm-6:hover{
    filter: drop-shadow( #20d2ff);
}
.card-text{
  color: black;
}
.btn-primary {
    color: aqua;
}
.hr-shadow {
	margin: 20px 0;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 1px solid #333;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

body{
    background-color: azure;

}
.cards.H1 {
    display: inline-block;
    text-shadow:
      1px 1px 1px white,
      1px -1px 1px white,
      -1px 1px 1px white,
      -1px -1px 1px white;
    color: steelblue;
    transition: all 1s;
  }
  
  H1:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 27%;
    margin: auto;
    border-bottom: 2px solid steelblue;
    bottom: .15em;
    transition: all 1s;
  }
  
  H1:hover:after {
    width: 0%;
    border-bottom-width: 1px;
  }
p{
  color: white;
}
*{
  /*outline: 1px solid black;*//*параметр нужный для отладки*/
  margin: 0  ;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}
.opening{
  position: relative;
  margin: 100px;
  font-size: 14vw;
  color: #FFFAF0;
  -webkit-text-stroke: 1px #d6d6d5;
  text-transform: uppercase;
  font-weight: 500;
}

.card:hover{
    filter: drop-shadow(0 0 20px #00A3FF);
}
.btn:hover{
  background: #00A3FF;
	border-radius: 20px;
  filter: drop-shadow(0 0 20px #00A3FF);
}
.card{
  margin-left: 4%
}
.cards{
  width: 75%;
  margin-left:1%;
  max-width: 0%;
}
.list-group-item:hover{
  color: #00A3FF;
}
.navbar a:hover{
  color: #00A3FF !important;
}
.gorod{
  margin-top: -2%;
}
/*ФОРМА*/
#opening {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.gg{
  color: black;
  font-size: 25px;
  margin-left: 1%;
}
.j{
  color: black;
  margin-left: 1%;
}
#okno {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px;
  border: 3px solid #050505;
  border-radius: 5px;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}
#opening:target {display: block;}
.close {
  margin-top: 45%;
  display: inline-block;
  border: 1px solid #050505;
  color: #000000;
  padding: 0 12px;
  text-decoration: none;
  background: #f2f2f2;
  font-size: 9pt;
  cursor:pointer;
  border-radius: 10px;
}
.close:hover {background: #e6e6ff;border-radius: 15px;}
option{
  border-radius: 10px;
}
.send{
  font-size: 20pt;
  border-radius: 10px;
  border: 1px solid #050505;
  margin-top: -100%;
}
.reg{
  margin-top: -5%;
}
#opening_two {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#okno {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px;
  border: 3px solid #050505;
  border-radius: 5px;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}
#opening_two:target {display: block;}
/*форма три*/
#opening_three {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#okno {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px;
  border: 3px solid #050505;
  border-radius: 5px;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}
#opening_three:target {display: block;}
/*форма четыре*/
#opening_four {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#okno {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px;
  border: 3px solid #050505;
  border-radius: 5px;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}
#opening_four:target {display: block;}
/*форма пять*/
#opening_five {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#okno {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px;
  border: 3px solid #050505;
  border-radius: 5px;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}
#opening_five:target {display: block;}
/*форма шесть*/
#opening_six {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#okno {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px;
  border: 3px solid #050505;
  border-radius: 5px;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}
#opening_six:target {display: block;}
/*скроллбар*/
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background: #fff;
}
::-webkit-scrollbar-thumb{
  background: #00A3FF;
}
